<h1>user-list works!</h1>

<div>
    <div class=" container search">
    <div class=" table-wrapper-scroll-y my-custom-scrollbar table">
     
  <div class="border">
        <table class="table table-bordered table-striped mb-0">
          <thead>
            <tr>
              <th scope="col"> Id</th>
              <th scope="col">First Name</th>
              <th scope="col">Last  Name</th>
              <th scope="col">Username</th>
              <th scope="col">password</th>
             
  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of user">
  
              
              <td>{{user.id}}</td>
              <td>{{user.first_name}}</td>
              <td>{{user.last_name}}</td>
              <td>{{user.username}}</td>
              <td>{{user.password}}</td>
             
              <!-- <td>
                <button class="edit btn-warning" routerLink="/employee-edit/{{Employee.id}}">Edit</button>
  
              </td>
  
              <td>
                <button class="delete btn-danger" (click)=" deleteEmployee(Employee.id)">Delete</button>
  
              </td> -->
            </tr>
          </tbody>
  
        </table>
      </div>
      </div>
    </div>
  </div>
