<div class="row"><span>Education Details:</span></div>
<div class="col-12 ">
    
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>Qualification</th>
                    <th>Institute</th>
                    <th>Board/University</th>
                    <th>Percentage/GPA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>MCA</td>
                    <td>Computer Science Dept, SPPU.</td>
                    <td>Pune University</td>
                    <td>5.05 GPA</td>
                </tr>
                <tr>
                    <td>BCS</td>
                    <td>H.P.T. Arts & R.Y.K Science College,Nashik</td>
                    <td>Pune University</td>
                    <td>64.05%</td>
                </tr>
                <tr>
                    <td>12th</td>
                    <td>Nutun vidyalay,Malkapur</td>
                    <td>HSC</td>
                    <td>58.92%</td>
                </tr>
                <tr>
                    <td>10th</td>
                    <td>L.B.Chandak Vidyalay ,Malkapur</td>
                    <td>SSC</td>
                    <td>78.18%</td>
                </tr>
            </tbody>
        </table>
    
</div>