<div class="col-md-8">
   
    <h5>Group Create</h5>
    
      <div class="form-group">
        <input class="form-control" type="text" [(ngModel)]="grupdata.group_name" class="form-control" placeholder="group_name">
      </div>
      
      <div class="form-group">
        <input type="text" [(ngModel)]="grupdata.group_info" class="form-control" placeholder="group_info">
      </div>
      
      <button type="submit" (click)="onSubmitCreate()">Create</button>
      <button type="button" routerLink="/">Cancel</button>

    
  </div>

  