<div>

<mat-toolbar style="background-color: #C2185B;" color="primary">
  <div style="
  height: 60px;"></div>
  <button mat-button routerLink="/create-user"><span class="material-icons">

    </span>Create User</button>
    <button mat-button routerLink="/homepage"><span class="material-icons">

    </span >home</button>
    <button style="float:right" mat-button routerLink="/homepage"><span class="material-icons">
&nbsp;
    </span>Logout</button>
</mat-toolbar>
</div>
<!-- <div>
<mat-toolbar style="background-color: #C2185B;" color="primary">
  <div style="
  height: 60px;"></div>
  <button mat-button routerLink="/create-group"><span class="material-icons">

    </span>Create group</button>
</mat-toolbar>
</div> -->
<div>
  
  <router-outlet></router-outlet>
</div>