.close{
    color:red;
    opacity: initial;
}
.search{
    padding: 41px 80px 82px 97px;
    background-color:#004eff17;
    margin-left: 100px
}
body{
    font-family: serif;
    font-size: 18px;
   
}
td{
    color:#dee2e6;
    font-size: 20px;
    text-align: center;
  }
th{
    text-align: center;
}
thead{
    font-size: 20px;
}
table{
    width: 100%;
padding-top: 16px;
/* max-width: 119%;
*/
}
.searchId{
        width: 50% ;
        height: 38px;
} 
.get{
    padding: 10px;
}
