<div class="col-md-10 search">
  <div class="header">
    
    <div class="addUsr">
      <button class="btn btn-outline-danger close " routerLink="/employees-list"><svg class="bi bi-x-square-fill"
          width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2zm9.854 4.854a.5.5 0 00-.708-.708L8 7.293 4.854 4.146a.5.5 0 10-.708.708L7.293 8l-3.147 3.146a.5.5 0 00.708.708L8 8.707l3.146 3.147a.5.5 0 00.708-.708L8.707 8l3.147-3.146z"
            clip-rule="evenodd" />
        </svg></button>
    </div>
    <div class="row get">
      <div class="col">
        <input type="text" [(ngModel)]="Employee.id" class="searchId" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" placeholder="User id">
      </div>

      <div class="col">
        <button class="btn btn-success btn-md  getEmpById" (click)="getEmployeeById(Employee.id)">Search
          User</button>
      </div>


    </div>
  </div>
  <div class=" table">


    <table class="table table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th scope="col">User Id</th>
          <th scope="col">Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Action</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{Employee.id}}</td>
          <td>{{Employee.name}}</td>
          <td>{{Employee.Lname}}</td>
          <td>{{Employee.email}}</td>
          <td>{{Employee.phone}}</td>

          <td>
            <button class="edit btn-warning" routerLink="/employee-edit/{{Employee.id}}">Edit</button>

          </td>

          <td>
            <button class="delete btn-danger" (click)=" deleteEmployee(Employee.id)">Delete</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>