<div class="col-md-8 border-bottom-1">
  <div class="col">

    <mat-grid-list cols="1" class="homebuttons">
        
      <mat-grid-tile>
        <button mat-raised-button color="primary" routerLink="/create-group">Create Group</button>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-raised-button color="primary" routerLink="/groupList">Group List</button>
      </mat-grid-tile>

      <mat-grid-tile>
          <button mat-raised-button color="primary" routerLink="/userList">User List</button>
        </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="col-md-8">

  </div>
</div>