<body>

    <div class="container-fluid userList ">
        <div class="col-12 ">
            <header>User Details</header>
        </div>
        <div class="container-fluid forms ">
            <router-outlet></router-outlet>



            <!-- 
            <div class="row ">
                <div class="col-6 col-md-4 btn-group-vertical ">
                    <button type="button" class="btn-group btn-info btn-sm"><a routerLink='./create-employee'>Add
                            User</a></button>
                    <button type="button" class="btn-group btn-secondary btn-sm"><a routerLink='./employees-list'>User
                            List</a></button>

                    <button type="button" class="btn-group btn-success btn-sm"><a
                    routerLink='./employee-edit'>update</a></button>
                    <button type="button" class="btn-group btn-warning btn-sm"><a
                            routerLink='./employee-delete'>Delete</a></button>

                </div>
                <div class="col-12 col-sm-6  col-md-8">
                   
                </div>
            </div>
        </div> -->
        </div>
    </div>
</body>
