<!-- <div class="btn btn-group-vertical sidebar-list">

    <button type="button" class="btn btn-lg btn-primary btnGroup" routerLink="/create-group">Create Group</button>

    <button type="button" class="btn btn-lg btn-primary btnGrpList" routerLink="/groupList">Group List</button>
    <button type="button" class="btn btn-lg btn-primary btnUserGroupList" routerLink="/userGroup">User Group</button>

    <button type="button" class="btn btn-lg btn-primary btnUserList" routerLink="/userList">User List</button>


</div> -->
<nav class="navbar">
    <ul class="navbar-nav justify-content-between sidebar-list">
        <li class="nav-item">
            <button type="button" class="btn btn-group-vertical btn btn-lg btn-outline-secondary btnGroup"
                routerLink="/create-group"><span style="color: antiquewhite;"> Create Group</span></button>
        </li>


        <li class="nav-item">
                <button type="button" class="btn btn-lg btn-outline-secondary btnGrpList" routerLink="/groupList"><span style="color: antiquewhite;"> Group List</span></button>

        </li>

        <li class="nav-item">
                <button type="button" class="btn btn-lg btn-outline-secondary btnUserGroupList" routerLink="/userGroup"><span style="color: antiquewhite;"> User Group</span></button>
        </li>

        <li class="nav-item">
                <button type="button" class="btn btn-lg btn-outline-secondary btnUserList" routerLink="/userList"><span style="color: antiquewhite;"> User List</span></button>
        </li>

    </ul>
</nav>